/***** WP PHP LOG ADMIN CSS *****/

.rn_php_pre {
	border: 1px solid #aaa;
	padding: 10px;
	background-color: white;
	width: 98%;
	overflow-y: scroll;
}

#rn_wpphp_controls {
	border: 1px solid #aaa;
	padding: 0px 10px 10px 10px;
	background-color: white;
	width: 98%;
}

@media screen and (max-width: 1272px ) {
	.rn_php_pre, 
	#rn_wpphp_controls {
		width: 95%;
	}
}

@media screen and (max-width: 436px ) {

	#rn_wpphp_main_page {
		margin-left: -8px;
	}
	.rn_php_pre, 
	#rn_wpphp_controls {
		width: 91%;
	}
}
